
@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap'); */
/* https://yori3.com/trying/%E3%80%90web%E3%83%A1%E3%83%A2%E3%80%91%E6%BA%90%E3%83%8E%E6%98%8E%E6%9C%9D%E3%82%92web%E3%83%95%E3%82%A9%E3%83%B3%E3%83%88%E3%81%A7%E4%BD%BF%E3%81%86%E3%81%A8%E3%81%8D%E3%81%AE%E3%82%B3%E3%83%84/ */
@font-face {
    font-family: "源ノ明朝";
    src: url("font/SourceHanSerif-Regular.otf") format("opentype");
}

/* 全体設定、変数設定 */
:root {
    /* --font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
    /* --font-family: "源ノ明朝", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
    --font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --border: dashed 2px rgba(127, 127, 127, 0.5);

    /* --sub-color: #695827; */
    /* --color-90: #147E7B; */
    --color-100: #0A2F51;
    --color-90: #0F5468;
    --color-80: #137177;
    --color-70: #147E7B;
    --color-60: #1D9A6C;
    --color-40: #74C67A;
    --color-20: #BFE1B0;
    --color-10: #DEEDCF;
    --light-color: #D3D3D3;


    /* https://pote-chil.com/css-stock/ja/pie-chart */
    /* https://hihayk.github.io/scale/#10/6/50/80/-51/67/20/14/1D9A6C/29/154/108/white */
    --gradient-80: radial-gradient(#fff 55%, transparent 55%), conic-gradient(var(--color-80) 80%, #f2f2f2 80% 100%);
    --gradient-60: radial-gradient(#fff 55%, transparent 55%), conic-gradient(var(--color-60) 60%, #f2f2f2 60% 100%);
    --gradient-40: radial-gradient(#fff 55%, transparent 55%), conic-gradient(var(--color-40) 40%, #f2f2f2 40% 100%);
    --gradient-20: radial-gradient(#fff 55%, transparent 55%), conic-gradient(var(--color-20) 20%, #f2f2f2 20% 100%);
    --gradient-10: radial-gradient(#fff 55%, transparent 55%), conic-gradient(var(--color-10) 10%, #f2f2f2 10% 100%);

    color: var(--color-100);
}

/* 選択範囲の色 */
::selection {
    color: #fff;
    background: var(--color-70);
}

/* 中央寄せ */
body {
    margin: 0;
    justify-content: center;

    font-family: var(--font-family);
    background-color: rgb(255, 255, 255);

    container: player / inline-size;
}

/* リンク */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:link { color: var(--color-70); }
a:visited { color: var(--color-70); }

/* 項目 */
section {
    padding: 20px 0px;
}


/* メニュー */
header {
    /* display: grid; */
    margin : 0;
    padding: 0 10px;
    /* justify-content: right; */
    /* width: 100%; */

    > nav {
        display: grid;
        grid-auto-flow: column;
        gap: 12px;
        justify-content: right;
        font-family: 'Helvetica', '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 14px;

        > a {
            padding: 8px 0;
            margin: 0px;
        }
    }
}

.title-box {
    position: relative;

    > .text {
        /* color: #515151; */
        /* color: black; */
        color: var(--color-60);
        font-size: 30px;
        padding: 16px 0;
    }

    > .line {
        position: absolute;
        bottom: 18px;
        width: 200px;
        border-bottom: solid 2px var(--color-90);
    }
}

.content {
    display: grid;
    justify-content: center;
    padding: 0 10px;

}

.detail-text {
    /* color: #7d7d7d; */
    /* color: var(--color70); */
    color: var(--color80);
    font-size: 14px;
    font-weight: normal;
    max-width: 800px;
}

.faintly-text {
    color: #D3D3D3;
}

.single-center {
    display: grid;
    place-content: center;
}

.space {
    display: block;
    height: 20px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    gap: 20px;
    grid-auto-rows: 158px;
    /* grid-auto-columns: 100px; */
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: center;

    .skill {
        display: grid;
        grid-template-columns:80px auto;
        gap: 12px;

        > img {
            /* height: 80px; */
            /* height: 100%; */
            width: 80px;
            object-fit: cover;
        }

        .horizontal {
            width: 80px;
            /* height: 80px; */
        }
    }

    /* .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin: 0 auto;
        text-align: center;
        border-radius: 50%;
    } */

    .gradient-10 { background-image: var(--gradient-10); }
    .gradient-20 { background-image: var(--gradient-20); }
    .gradient-40 { background-image: var(--gradient-40); }
    .gradient-60 { background-image: var(--gradient-60); }
    .gradient-80 { background-image: var(--gradient-80); }
}


#logo {
    > img {
        width: 100%;
        height: 50vh;
        background: url(images/inu.jpg) center / cover;

        height: 400px;
        object-fit: cover;
    }

    > h2 {
        position: absolute;
        left: 20px;
        top: 20px;
        color: white;
    }
}

#aboutme {
    display: grid;
    /* position: relative; */
    grid-template-columns: repeat(auto-fit, 300px);
    /* grid-auto-flow: column; */
    gap: 20px;
    /* grid-auto-rows: 400px; */
    /* width: 100%; */
    /* width: 300px; */
    /* place-content: center; */
    justify-content: space-evenly;


    /* https://yoncoichi.com/image-responsive/ */
    > img {
        aspect-ratio: 585 / 624;
        width: 100%;
        max-width: 400px;
        height: 400px;
        object-fit: cover;
        padding: 8px;
        border: solid 2px var(--color-90);
        /* border-radius: 20px; */
        box-sizing: border-box;
    }

    > .profile {
        display: grid;
        grid-template-columns: repeat(auto-fit, auto);
        grid-auto-flow: row;
        align-content: space-between;

        .name {
            font-size: 30px;
            margin: auto;
            justify-items: center;
        }

        /* .line {
            position: absolute;
            top: 80px;
            width: 100%;
            border-bottom: solid 2px var(--color-90);
        } */

        ul {
            padding: 10px;
        }

        .icon {
            width: 32px;
            justify-items: center;
        }
    }
}

@container player (max-width: 640px) {
    #logo {
        > img {
            height: 200px;
        }
    }
}
@container player (max-width: 320px) {
    #logo { display: none; }
}


#promotion {
    > .detail-text {
        max-width: 800px;
        /* color: #7d7d7d; */
        font-size: 14px;
        font-weight: normal;
        /* margin: 0 auto; */
    }
}

.production {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px 20px;
    grid-auto-rows: 300px;
    justify-content: space-around;

    > .item {
        display: grid;
        align-items: center;
        justify-items: center;

        > a {
            > img {
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        }
    }
}

footer {
    margin: 0;
    padding: 0 10px;

    > a {
        font-family: 'Helvetica', '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
        font-size: 14px;
    }

    > .copyright {
        display: inline-block;
        margin-left: 12px;
        font-size: 12px;
        /* color: var(--color-90); */
        color: var(--light-color);
    }
}