
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@100..900&display=swap'); */


/* 全体設定 */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", 'メイリオ', Meiryo, sans-serif;
    /* --font-family: "M PLUS Rounded 1c", Meiryo, sans-serif; */
    --sub-font-family: 'Helvetica', 'メイリオ', Meiryo, sans-serif;

    /* https://hihayk.github.io/scale/#10/6/50/80/-51/67/20/14/1D9A6C/29/154/108/white */
    --color-100: #0A2F51;
    --color-90: #0F5468;
    /* --color-80: #137177; */
    --color-70: #147E7B;
    --color-60: #1D9A6C;
    /* --color-40: #74C67A; */
    /* --color-20: #BFE1B0; */
    /* --color-10: #DEEDCF; */
    --light-color: #D3D3D3;
}

/* 選択範囲の色 */
::selection {
    color: #fff;
    background: var(--color-70);
}

/* 共通タイトル */
.selection-title {
    position: relative;

    > .text {
        color: var(--color-60);
        font-size: 30px;
        padding: 16px 0;
    }

    > .line {
        position: absolute;
        bottom: 18px;
        width: 200px;
        border-bottom: solid 2px var(--color-90);
    }
}

/* 文章 */
.detail-text {
    font-size: 14px;
    font-weight: normal;
    max-width: 800px;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:link { color: var(--color-70); }
a:visited { color: var(--color-70); }

html {
    scroll-behavior: smooth;
    color: var(--color-100);
}

body {
    margin: 0;
    justify-content: center;

    font-family: var(--font-family);
    background-color: rgb(255, 255, 255);

    container: player / inline-size;
    scroll-behavior: smooth;
}

header {
    margin : 0;

    > nav {
        display: grid;
        grid-auto-flow: column;
        gap: 12px;
        padding: 0 10px;
        justify-content: right;
        font-family: var(--sub-font-family);
        font-size: 14px;

        > a {
            padding: 8px 0;
            margin: 0px;
        }
    }

    > #logo {
        > img {
            width: 100%;
            height: 400px;

            background: url(images/inu.jpg) center / cover;
            object-fit: cover;
        }
    }
}

main {
    display: grid;
    justify-content: center;
    padding: 20px 10px;
    gap: 40px 0;
}

footer {
    margin: 0;
    padding: 0 10px;

    > a {
        font-family: var(--sub-font-family);
        font-size: 14px;
    }

    > .copyright {
        display: inline-block;
        margin-left: 12px;
        font-size: 12px;
        color: var(--light-color);
    }
}

#skills {
    container-type: inline-size;
    container-name: skills-grid;

    > .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, 365px);
        gap: 20px;
        grid-auto-rows: 130px;
        justify-content: center;

        > .skill {
            display: grid;
            grid-template-columns: 64px auto;
            gap: 12px;

            > img {
                width: 64px;
                object-fit: cover;
            }
        }
    }
}

#profile {
    > .aboutme {
        /* アニメーションで表示したいためhidden */
        visibility: hidden;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
        gap: 20px;
        justify-content: space-evenly;

        /* https://yoncoichi.com/image-responsive/ */
        > img {
            width: 100%;
            padding: 8px;
            border: solid 2px var(--color-90);
        }

        > .profile {
            display: grid;
            grid-template-columns: repeat(auto-fit, 100%);
            align-content: space-between;

            ul {
                padding: 10px;
            }

            .icon {
                width: 32px;
                justify-items: center;
            }
        }
    }
}

#production {
    > .production-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 258px));
        gap: 40px 20px;
        justify-content: space-around;

        > .item {
            display: grid;
            align-items: center;
            justify-items: center;
            gap: 8px 0;

            > .title {
                font-size: 20px;
            }

            > a {
                > img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
    }
}


/***********************************************
 * レスポンシブ対応
 ***********************************************/
/* ヘッダーの画像が大きいのでサイズを小さく */
@container (width < 700px) {
    header {
        > #logo {
            > img {
                height: 200px;
            }
        }
    }
}

/* スキルのグリッドが、2カラムのサイズ + gapより小さい場合、1カラムを適切なサイズに */
@container skills-grid (width < calc(365px*2 + 20px)) {
    #skills {
        > .skills {
            grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
            grid-auto-rows: 100px;
            padding: 0 10px;
        }
    }
}