@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* 全体設定 */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", 'メイリオ', Meiryo, sans-serif;
  /* --font-family: "M PLUS Rounded 1c", Meiryo, sans-serif; */
  --sub-font-family: 'Helvetica', 'メイリオ', Meiryo, sans-serif;

  /* https://hihayk.github.io/scale/#10/6/50/80/-51/67/20/14/1D9A6C/29/154/108/white */
  --color-100: #0A2F51;
  --color-90: #0F5468;
  /* --color-80: #137177; */
  --color-70: #147E7B;
  --color-60: #1D9A6C;
  /* --color-40: #74C67A; */
  /* --color-20: #BFE1B0; */
  /* --color-10: #DEEDCF; */
  --light-color: #D3D3D3;
}

html {
  scroll-behavior: smooth;
  color: var(--color-100);
}

body {
  margin: 0;
  justify-content: center;

  font-family: var(--font-family);
  background-color: rgb(255, 255, 255);

  container: player / inline-size;
  scroll-behavior: smooth;
}


ul.inline > li {
  display: inline-block;
  padding: 8px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:link,
  &:visited {
    color: var(--color-70);
  }
}

/* 選択範囲の色 */
::selection {
  color: #fff;
  background: var(--color-70);
}

/* 共通タイトル */
.selection-title {
  position: relative;

  >.text {
    color: var(--color-60);
    font-size: 30px;
    padding: 16px 0;
  }

  >.line {
    position: absolute;
    bottom: 18px;
    width: 200px;
    border-bottom: solid 2px var(--color-90);
  }
}

/* 文章 */
.detail-text {
  font-size: 14px;
  font-weight: normal;
  max-width: 800px;
}

/* @media screen and (min-width: 768px) {
  section {
    max-width: 768px;
    margin: 0 auto;
    padding: 12px 0;
  }
}

@media screen and (min-width: 960px) {
  section {
    max-width: 960px;
    margin: 0 auto;
    padding: 12px 0;
  }
} */


/* img {
  max-width: 500px;
  max-height: 200px;
} */